//Глобальные
$color-primary: #3E9CDC;
$color-secondary: #BBBBBB;
$color-white: #FFFFFF;
$color-black: #000000;

//Блочные
$color-fields: #272733;
$color-footer-icons: #C3C3C3;
$color-btn-hero: #2A2B30;